:root{
    --main-color: 244, 102, 100;
    --secondary-color: 21, 39, 51;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;

    display: flex;
    flex-direction: column;

    font-family: "Red Hat Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(var(--main-color));
    
    background-color: black;
    background-image: linear-gradient(
        to bottom,
        rgba(var(--main-color), 0.25) 0%, 
        rgba(var(--secondary-color), 0.4) 80%
    );
}

.inset{
    width: 90vw;
    height: 75px;

    left: 5vw;
    position: relative;
}

.binaryscroll{
    word-wrap: break-word;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#headerupper{
    --top-margin: 15px;
    margin-top: var(--top-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headericon {
    grid-area: icon;
}

#compass {
    display: flex;
    justify-content: space-between;
    width: 254px;
    height: max-content;
    gap: 10px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

#compass::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 17.5px)) translateY(-10px) rotate(180deg); /* Rotate to form a triangle */
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Half of the triangle */
    border-right: 10px solid transparent; /* Half of the triangle */
    border-bottom: 10px solid rgba(var(--main-color), 0.5); /* Color of the triangle */
}

#settings, #headericon, .date, #newevent{
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings>svg, #headericon>svg{
    position: relative;
    top: 2px;
    height: 20px;
    fill: rgb(var(--main-color));
}

#calendar{
    display: grid;
    grid-template-areas: "date event newevent" "date eventday newevent";
    grid-template-columns: 0fr auto 0fr;
    column-gap: 17.5px;
}

.date{
    grid-area: date;
}

.date, #newevent{
    width: 40px;
    height: 40px;
}

.date svg, #newevent svg{
    width: 40px;
    height: 40px;
    position: absolute;
    fill: rgb(var(--main-color));
}

.date div{
    font-weight: 600;
    font-size: 1.2rem;
    z-index: 999;
    background-color: black;
    background-image: linear-gradient(
        to bottom,
        rgba(var(--main-color), 0.25) 0%, 
        rgba(var(--secondary-color), 0.4) 80%
    );
    color: transparent;
    background-clip: text;
}

#newevent{
    grid-area: newevent;
    display: grid;
    justify-items: end;
}

#newevent svg{
    width: 20px;
    height: 20px;
}

.event{
    font-weight: 700;
    grid-area: event;
    align-items:end;
}

.eventday{
    opacity: 0.75;
    grid-area: eventday;
}

.event, .eventday{
    font-size: .75rem;
    display: flex;
}

#maincont{
    display: grid;
    grid-template-areas: 
        "leftside warning rightart"
        "leftside stats menu";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
}

#leftslide, #rightart{
    height: 60vh;
    width: 50px;

    border: solid 1px red;
    border-radius: 5px;
}

#leftslide{
    grid-area: leftside;
}

#warningwrapper{
    grid-area: warning;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid red 1px;

    margin: 10px;
}

#rightart{
    grid-area: rightart;
}

#stats{
    grid-area: stats;
}

.warning{
    width: calc(100% - 40px);
    height: calc(100% - 10px);

    display: flex;
    flex-direction: column;
}

.attention{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attention>*{
    width: 75px;
    height: 50px;
}

.bottomwarning{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.bottomwarning>.connect{
    height: 20px;
    width: 150px;
    display: grid;
    align-items: center;
    justify-content: center;

    font-size: .6rem;
    font-weight: 500;
    letter-spacing: .5px;

    border: solid rgb(var(--main-color)) 1px;
}

.bottomwarning>.mid{
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .5px;
}